# RAB 2024-10-04 files placed by CLI
cli/.devcontainer.json
cli/.error_schema.log
cli/.gitignore
cli/codechat_config.yaml

# RAB 2024-10-04 directories placed by CLI
# published/ folder is only for a Runestone build
cli/.github/
cli/logs/
cli/output/
cli/published/

# RAB 2024-10-04 tracker for generated "assets" when
# the CLI is used for a "runestone" target in testing
src2/gen/.runestone_assets.pkl